@using Tesis004.Models
@{
    ViewBag.Title = "Ingresar Paciente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center">Ingresar Paciente</h2>

<div class="text-right">
    <p>
        <label>Nº Historia Clinica</label>
        <br />
        <input id="IptNumeroHistoriaClinica" name="IptNumeroHistoriaClinica" class="required" style="text-align:right; border-radius:0.3rem; width:200px; height:40px;" disabled value="@ViewData["ultimo"]"/>
    </p>
</div>

<div class="row">
    <div class="col-xl-6">
        <p>
            <label>Nombre Completo</label>
            <input class="col-xl required" id="IptNombreCompleto" name="NombreCompleto" placeholder=" NOMBRES APELLIDOS" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" required value="@(Model!=null ? Model.nombreCompleto : string.Empty)" />
			<label id="ValidacionNombrePaciente" name="ValidacionNombrePaciente"> </label>
		</p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Cedula</label>
            <br />
            <input id="IptCedula" name="Cedula" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
            <label id="ValidacionCedulaPaciente" name="ValidacionCedulaPaciente" />
        </p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Representante</label>
            <br />
            <input id="CboxRepresentante" type="checkbox" style="text-align:center; border-radius:0.3rem; width:15px; height:15px;" /> Representante
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <p>
            <label>Dirección</label>
            <br />
            <input id="IptDireccion" name="Direccion" class="col-xl required" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.direccion : string.Empty)">
			<label id="ValidacionDireccionPaciente" name="ValidacionDireccionPaciente" />
		</p>
    </div>
    <div class="col-xl-6">
        <p>
            <label>Email</label>
            <br />
            <input id ="IptEmail" name="EmailPaciente" type="email" class="col-xl required" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;">
			<label id="ValidacionEmailPaciente" name="ValidacionEmailPaciente" />
		</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <p>
            <label>Telefono</label>
            <br />
            <input id="IptTelefono" name="Telefono" class="required number" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
			<label id="ValidacionTelefonoPaciente" name="ValidacionTelefonoPaciente" />
		</p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Ocupación</label>
            <br />
            <input id="IptOcupacion" name="Ocupacion" class="required number" style="text-align:left; text-transform: uppercase; border-radius:0.3rem; width:100%; height:40px;" />
			<label id="ValidacionOcupacionPaciente" name="ValidacionOcupacionPaciente" />
		</p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Etnia</label>
            <br>
            <select id="SltEtnia" name="Etnia" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;">
                <option value="0"> Seleccionar </option>
                @{
                    var etnias = ViewData["etnias"] as List<Tesis004.Models.ParametroModel>;
                    foreach (var etnia in etnias)
                    {
                        <option value="@etnia.Identificador"> @etnia.Valor </option>
                    }
                }
            </select>
			<label id="ValidacionEtniaPaciente" name="ValidacionEtniaPaciente" />
		</p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Discapacidad</label>
            <br />
            <input id="CboxDiscapacidad" type="checkbox" style="text-align:center; border-radius:0.3rem; width:15px; height:15px;" /> Discapacidad
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xl-3">
        <p>
            <label>Fecha de Nacimiento</label>
            <br />
            <input id="IptFechaNacimiento" name="FechaNacimiento" class="required" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;" />
			<label id="ValidacionFechaNacimientoPaciente" name="ValidacionFechaNacimientoPaciente" />
		</p>
    </div>
    <div class="col-xl-3">
		<p>
			<label>Genero</label>
			<br>
			<select id="SltGenero" name="Sexo" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;">
				<option value="0"> Seleccionar </option>
				@{
					var generos = ViewData["generos"] as List<Tesis004.Models.ParametroModel>;
					foreach (var genero in generos)
					{
						<option value="@genero.Identificador"> @genero.Valor </option>
					}
				}
			</select>
			<label id="ValidacionGeneroPaciente" name="ValidacionGeneroPaciente" />
		</p>
    </div>
    <div class="col-md-3">
		<p>
			<label>Estado Civil</label>
			<br />
			<select id="SltEstadoCivil" name="EstadoCivil" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;">
				<option value="0"> Seleccionar </option>
				@{
					var estados = ViewData["estados"] as List<Tesis004.Models.ParametroModel>;
					foreach (var estado in estados)
					{
						<option value="@estado.Identificador"> @estado.Valor </option>
					}
				}
			</select>
			<label id="ValidacionEstadoCivilPaciente" name="ValidacionEstadoCivilPaciente" />
		</p>
    </div>
    <div class="col-md-3">
		<p>
			<label>Tipo de Sangre</label>
			<br />
			<select id="SltTipoSangre" name="TipoSangre" style="text-align:left; border-radius:0.3rem; width:100%; height:40px;">
				<option value="0"> Seleccionar </option>
				@{
					var tipos = ViewData["tipos"] as List<Tesis004.Models.ParametroModel>;
					foreach (var tipo in tipos)
					{
						<option value="@tipo.Identificador"> @tipo.Valor </option>
					}
				}
			</select>
			<label id="ValidacionTipoSangrePaciente" name="ValidacionTipoSangrePaciente" />
		</p>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <h5>Datos contacto de emergencia</h5>
    </div>
    <div class="col-xl-6">
        <p>
            <label>Nombre</label>
            <br />
            <input id="IptNombreContactoEmergencia"name="NombreContactoEmergencia" class="col-xl required" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.nombreContactoEmergencia : string.Empty)" />
			<label id="ValidacionNombreContactoEmergencia" name="ValidacionNombreContactoEmergencia" />
		</p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Afinidad</label>
            <input id="IptAfinidadContactoEmergencia" name="AfinidadContactoEmergencia" class="required" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.afinidadContactoEmergencia : string.Empty)" />
			<label id="ValidacionAfinidadContactoEmergencia" name="ValidacionAfinidadContactoEmergencia" />
		</p>
    </div>
    <div class="col-xl-3">
        <p>
            <label>Telefono</label>
            <input id="IptTelefonoContactoEmergencia" name="TelefonoContactoEmergencia" class="required" style="text-transform: uppercase; text-align:left; border-radius:0.3rem; width:100%; height:40px;" value="@(Model!=null ? Model.telefono : string.Empty)" />
			<label id="ValidacionTelefonoContactoEmergencia" name="ValidacionTelefonoContactoEmergencia" />
		</p>
    </div>
</div>

<div class="text-center">
    <br />
    <button id="btnGuardarPacienteNuevo" name="btnGuardarPacienteNuevo" style="background-color:darkturquoise; border-bottom-color:darkturquoise;color:white; border-radius:0.3rem; width:200px; height:40px; cursor: pointer" type="submit" onclick="guardarPaciente()">GUARDAR</button>
</div>

<script src="~/Scripts/Validador.js"></script>
<script src="~/Scripts/paciente.js"></script>
