<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - VACARI</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/toastrcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/toastrjs")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("VACARI GC", "Ingreso", "Ingreso", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal" aria-controls="menuPrincipal" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

		<div class="collapse navbar-collapse" id="menuPrincipal">
			<ul class="navbar-nav mr-2">
				<li class="nav-item">
					@Html.ActionLink("Personal", "GestionPersonal", "Personal", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
			<ul class="navbar-nav mr-2">
				<li class="nav-item">
					@Html.ActionLink("Paciente", "BuscarPaciente", "Paciente", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
			<ul class="navbar-nav mr-2">
				<li class="nav-item">
					@Html.ActionLink("Cita", "ListarCita", "Servicio", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
			<ul class="navbar-nav mr-2">
				<li class="nav-item">
					@Html.ActionLink("Contabilidad", "GestionContabilidad", "Contabilidad", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
			<ul class="navbar-nav mr-2">
				<li class="nav-item">
					@Html.ActionLink("Inventario", "GestionInventario", "Inventario", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>
			<ul class="navbar-nav mr-2">
				<li class="nav-item">
					@Html.ActionLink("Facturacion", "IngresoFactura", "Facturacion", new { area = "" }, new { @class = "nav-link" })
				</li>
			</ul>

		</div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>VACARI &copy; @DateTime.Now.Year - Pruebas</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
